// 반응형 변수
$fz14 : #{'min(1.4em,14px)'};
$fz18 : #{'min(1.8em,18px)'};
$fz24 : #{'min(2.4em,24px)'};
$fz36 : #{'min(3.6em,36px)'};
$fz50 : #{'min(5em,50px)'};
$h20 : #{'min(0.5rem,20px)'};
$h40 : #{'min(1rem,40px)'};
$h60 : #{'min(1.5rem,60px)'};
$h80 : #{'min(2rem,80px)'};
$h90 : #{'min(2.25rem,90px)'};
$h120 : #{'min(3rem,120px)'};
$h160 : #{'min(4rem,160px)'};
$h200 : #{'min(5rem,200px)'};

@font-face{
    font-family: 'GangwonEdu_OTFLightA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin font($fontname,$url){
    @font-face {
        font-family: '#{$fontname}';
        src: url('./fonts/#{$url}') format('truetype');
    }
}
@include font(ari,'JSArirang.ttf');
@include font(aripp,'JSArirangPPURI.ttf');
@include font(noto,'NotoSansKR-Regular.otf');
@include font(dx,'DXSeNB-KSCpc-EUC-H.ttf');

@mixin grid($dev){
    @if($dev=='tab'){
        width: 90%;
        max-width: 700px;
    }
    @else{
        width: 80%;
        max-width: 1080px;
    }
    margin: 0 auto;
}
// 반응형 미디어쿼리
@mixin tab {
    @media (max-width: 1024px) and (min-width: 0px){
        @content;
    }
}
@mixin mob {
    @media (max-width: 420px) and (min-width: 0px){
        @content;
    }
}

@mixin flex {
    display: flex;
    justify-content: space-between;
}
@mixin bgset {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// html,body
html{
    font-size: 3vw;
    @include tab{
        font-size: 3.5vw;
    }
    @include mob{
        font-size: 8.5vw;
    }
    body{
        font-size: 0.7vw;
        color: #222;
        @include tab{
            font-size: 0.8vw;
        }
        @include mob{
            font-size: 2.1vw;
        }
    }
}

// html 공통
.image{
    @include bgset;
}

.cntWrap{
    margin-top: #{'min(4rem,160px)'};
    .content{
        @include grid('pc');
        @include tab{
            @include grid('tab');
        }
        .sns{
            @include tab{
                width: 30%;
            }
            width: calc(100% / 12 * 2);
            @include flex;
            margin-left: auto;
            .image{
                @include tab{
                    height: $h80;
                }
                width: calc(100% / 4);
                height: $h40;
                background-size: contain;
                cursor: pointer;
                @for $i from 1 through 4 {
                    &.i#{$i}{
                        background-image: url('../images/sub02_img/sns0#{$i}.png');
                    }
                }
            }
        }
        header{
        .hdrTop{
                width: calc(100% / 12 * 3.1);
                margin: 0 auto;
                .image{
                    height: #{'min(2.5rem,100px)'};
                    background-size: contain;
                    background-image: url('../images/sub02_img/icons8-식기-100.png');
                }
            }
            .hdrBtm{
                position: relative;
                .images{
                    @include mob{
                        display: none;
                    }
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    @include flex;
                    .image{
                        position: absolute;
                        width: calc(100% / 6);
                        @include tab{
                            height: $h60;
                        }
                        height: $h80;
                        background-size: contain;
                        @for $i from 1 through 6 {
                            &.i#{$i}{
                                background-image: url('../images/sub02_img/hdr_img0#{$i}.png');
                            }
                        }
                        &.i1{
                           bottom: 0; left: $h40;
                        }
                        &.i2{
                            left: $h40;
                        }
                        &.i3{
                            right: $h40;
                        }
                        &.i4{
                            right: 0; bottom: 0;
                        }
                        &.i5{
                            @include tab{
                                left: 15%;
                            }
                            left: $h160; top: $h40;
                        }
                        &.i6{
                            @include tab{
                                right: 12%;
                            }
                            right: #{'min(3.75rem,150px)'}; bottom: $h20;
                        }
                    }
                }
                .texts{
                    font-family: 'aripp';
                    text-align: center;
                    h5{
                        font-size: $fz24;
                        line-height: $h40;
                        span{
                            color: #284377;
                        }
                    }
                    h2{
                        @include tab{
                            font-size: $fz36;
                            line-height: $h40;
                        }
                        margin-top: $h20;
                        font-size: #{'min(5em,50px)'};
                        line-height: $h60;
                    }
                }
            }
        }
        section{
            article{
                @include mob{
                    margin-top: #{'min(7rem,280px)'};
                }
                margin-top: $h160;
                @include flex;
                flex-wrap: wrap;
                position: relative;
                .image{
                    @include tab{
                        width: calc(100% / 8 * 5);
                    }
                    @include mob{
                        width: calc(100% / 4 * 3.5);
                        height: #{'min(6rem,240px)'};
                        border-radius: 40px;
                    }
                    width: calc(100% / 12 * 7);
                    height: #{'min(10rem,400px)'};
                    border-radius: 60px;
                    background-color: #ccc;
                    @for $i from 1 through 8 {
                        &.i#{$i}{
                            background-image: url('../images/sub02_img/art0#{$i}.jpg');
                        }
                    }
                }
                .texts{
                    @include tab{
                        width: calc(100% / 8 * 4);
                        height: #{'min(7rem,280px)'};
                    }
                    @include mob{
                        width: 80%;
                        height: $h160;
                        border-radius: 20px;
                        @include flex;
                        padding-top: $h20;
                        padding-bottom: $h20;

                    }
                    font-weight: 700;
                    font-family: 'GangwonEdu_OTFLightA';
                    width: calc(100% / 12 * 6);
                    height: #{'min(8rem,320px)'};
                    border-radius: 60px;
                    box-shadow: 2px 3px 6px #000;
                    background-color: #fff;
                    background-image: url('../images/sub02_img/txt_bgimg.png');
                    position: absolute;
                    padding-top: $h40;
                    .txtTop{
                        @include mob{
                            width: calc(100% / 3 * 0.5);
                            margin-top: $h20;
                        }
                        @include flex;
                        width: calc(100% / 6 * 4);
                        margin: 0 auto;
                        .left{
                            width: calc(100% / 4 * 0.5);
                            h5{
                                @include mob{
                                    display: block;
                                }
                                font-family: 'GangwonEdu_OTFLightA';
                                font-size: #{'min(2em,20px)'};
                                margin-left: 10px;
                                color: #f00;
                            }
                            h3{
                                @include mob{
                                    font-size: #{'min(3em,30px)'};
                                    margin-left: 10px;
                                }
                                font-size: $fz50;
                                font-style: italic;
                            }
                        }
                        h5{
                            @include mob{
                                display: none;
                            }
                            font-family: 'aripp';
                            width: calc(100% / 4 * 3);
                            font-size: $fz18;
                            margin: auto 0;
                            span{
                                color: #284377;
                            }
                        }
                    }
                    .txtBtm{
                        @include mob{
                            width: calc(100% / 3 * 2);
                        }
                        width: calc(100% / 6 * 4);
                        margin: 0 auto;
                        font-size: #{'min(2em,20px)'};
                        p{
                            @include tab{
                                line-height: $h20;
                                margin-top: $h20;
                                br{
                                    display: none;
                                }
                            }
                            @include mob{
                              font-size: $fz14;
                              width: 100%;
                            }
                            width: calc(100% / 4 * 2.8);
                            margin: 0 auto;
                            text-align: center;
                            line-height: $h40;
                        }
                        h5{
                            @include tab{
                                font-size: $fz14;
                            }
                            @include mob{
                                font-size: #{'min(1.2em,12px)'};
                                margin-top: 10px;
                            }
                            margin-top: $h20;
                            text-align: right;
                            line-height: $h40;
                            span{
                                color: #f00;
                            }
                        }
                    }
                }
                &:nth-child(1){
                    margin-top: $h80;
                   flex-wrap: wrap;
                    .texts{
                        @include mob{
                            bottom: #{'min(-2.5rem,-100px)'};
                        }
                        position: absolute;
                        bottom: #{'min(-1rem,-40px)'}; right: 0;
                        padding-top: $h20;
                        .Top{
                            @include tab{
                                width: 45%;
                                top: #{'min(-2rem,-80px)'};  right: $h80;
                            }
                            @include mob{
                                display: none;
                            }
                            font-family: 'GangwonEdu_OTFLightA';
                            width: calc(100% / 6 * 2);
                            @include flex;
                            font-size: $fz18;
                            line-height: $h40;
                            padding-bottom: $h20;
                            position: absolute;
                            z-index: -1;
                            top: #{'min(-1.5rem,-60px)'};  right: $h80;
                            h5{
                                padding: $h40 $h20;
                                color: #fff;
                                text-shadow: 1px 1px 3px #000;
                                clip-path: polygon(0 0, 50% 25%, 100% 0, 100% 45%, 100% 100%, 0 100%, 0 53%);
                                &:nth-child(1){
                                    background-color: #284377;
                                }
                                &:nth-last-child(1){
                                    background-color: rgb(192, 64, 64);
                                }
                            }
                        }
                        .Btm{
                            p{
                                @include tab{
                                    width: 85%;
                                    line-height: $h20;
                                    margin-top: $h60;
                                }
                                @include mob{
                                    span{
                                        display: none;
                                    }
                                    width: 100%;
                                    margin-top: $h40;
                                    font-size: $fz14;
                                    margin-left: 23%;
                                }
                                width: calc(100% / 6 * 4);
                                line-height: $h40;
                                text-align: center;
                                margin: 0 auto;
                                font-size: $fz18;
                            }
                        }
                    }
                }
                &:nth-child(2){
                    .image{
                        margin-left: auto;
                    }
                    .texts{
                        @include mob{
                            top: #{'min(-2.5rem,-100px)'};
                        }
                        top: #{'min(-1rem,-40px)'};
                        .txtTop{
                            h5{
                                font-family: 'GangwonEdu_OTFLightA';
                                font-size: $fz24;
                            }
                        }
                    }
                }
                &:nth-child(3){
                    margin-top: $h120;
                    .texts{
                        @include mob{
                           top: $h160;
                        }
                        top: $h40; right: 0;
                    }
                }
                &:nth-child(4){
                    margin-top: $h120;
                    @include mob{
                        margin-top: #{'min(5rem,200px)'};
                    }
                   .image{
                    @include tab{
                        width: 45%;
                    }
                    @include mob{
                        &.i4{
                            display: none;
                        }
                        &.i5{
                           width: 70%;
                           margin: 0 auto;
                        }
                    }
                       width: calc(100% / 12 * 4);
                       height: #{'min(6rem,240px)'};
                   }
                   .texts{
                    @include mob{
                        height: #{'min(4.5rem,180px)'};
                        top: #{'min(7rem,280px)'};
                    }
                      top: $h160; bottom: 0; left: 0; right: 0; margin: auto;
                      height: #{'min(7rem,280px)'};
                      .txtBtm{
                          p{
                              width: 88%;
                            }
                        }
                    }
                }
                &:nth-child(5){
                    @include mob{
                        margin-top: #{'min(9rem,360px)'};
                    }
                    margin-top: $h200;
                    .image{
                        margin-left: auto;
                    }
                    .texts{
                        @include mob{
                            height: $h200;
                            top: #{'min(-4rem,-160px)'};
                        }
                        top: $h20;
                        .txtBtm{
                            p{
                                width: 80%;
                            }
                        }
                    }
                }
                &:nth-child(6){
                    margin-top: $h120;
                    .texts{
                        @include mob{
                            right: 0; bottom: #{'min(-3rem,-120px)'};
                        }
                        right: 0; bottom: #{'min(-1rem,-40px)'};
                        .txtBtm{
                            p{
                                width: 100%;
                            }
                        }
                    }
                }
                &:nth-child(7){
                    .image{
                        margin-left: auto;
                    }
                    .texts{
                        bottom: #{'min(-2rem,-80px)'};
                        @include mob{
                            height: $h200;
                            bottom: #{'min(-4rem,-160px)'};
                        }
                        .txtTop{
                            .left{
                                h5{
                                    text-align: center;
                                    margin-left: $h20;
                                }
                                width: calc(100% / 4 * 1);
                            }
                            h5{
                                width: calc(100% / 4 * 2.6);
                            }
                        }
                        .txtBtm{
                            width: calc(100% / 6 * 5);
                            p{
                                @include mob{
                                    width: 80%;
                                }
                                width: 90%;
                            }
                            h5{
                                width: 50%;
                                line-height: $h20;
                                margin: 0 auto;
                                margin-top: $h20;
                            }
                        }
                    }
                }
            }
        }
        .btns{
            @include mob{
                margin-top: #{'min(6rem,240px)'};
                width: 100%;
            }
            @include flex;
            margin-top: $h160;
            width: calc(100% / 12 * 6);
            margin-left: auto;
            direction: rtl;
            .image{
                @include tab{
                    width: 50%;
                    height: $h80;
                }
                @include mob{
                }
                width: calc(100% / 6.2 * 2.5);
                height: $h90;
                background-image: url('../images/sub02_img/eshop_btn.png');
                cursor: pointer;
            }
            .texts{
                width: calc(100% / 6.2 * 3.5);
                font-style: italic;
                h3{
                    @include tab{
                        font-size: $fz14;
                    }
                    @include mob{
                        display: none;
                    }
                    font-family: 'GangwonEdu_OTFLightA';
                    font-size: #{'min(2em,20px)'};
                    line-height: $h40;
                    font-weight: 700;
                   margin-top: $h60;
                }
            }
        }
    }
}
.barBgc{
    margin-top: $h40;
    height: $h80;
    background-color: #626b7e;
}