// 반응형 변수
$fz14 : #{'min(1.4em,14px)'};
$fz18 : #{'min(1.8em,18px)'};
$fz24 : #{'min(2.4em,24px)'};
$fz36 : #{'min(3.6em,36px)'};
$h20 : #{'min(0.5rem,20px)'};
$h40 : #{'min(1rem,40px)'};
$h80 : #{'min(2rem,80px)'};
$h90 : #{'min(2.25rem,90px)'};
$h120 : #{'min(3rem,120px)'};
$h200 : #{'min(5rem,200px)'};

@font-face{
    font-family: 'GangwonEdu_OTFLightA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin font($fontname,$url){
    @font-face {
        font-family: '#{$fontname}';
        src: url('./fonts/#{$url}') format('truetype');
    }
}
@include font(ari,'JSArirang.ttf');
@include font(aripp,'JSArirangPPURI.ttf');
@include font(noto,'NotoSansKR-Regular.otf');
@include font(dx,'DXSeNB-KSCpc-EUC-H.ttf');

@mixin grid($dev){
    @if($dev=='tab'){
        width: 90%;
        max-width: 700px;
    }
    @else{
        width: 80%;
        max-width: 1080px;
    }
    margin: 0 auto;
}
// 반응형 미디어쿼리
@mixin tab {
    @media (max-width: 1024px) and (min-width: 0px){
        @content;
    }
}
@mixin mob {
    @media (max-width: 420px) and (min-width: 0px){
        @content;
    }
}

@mixin flex {
    display: flex;
    justify-content: space-between;
}
@mixin bgset {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html{
    font-size: 3vw;
    @include tab{
        font-size: 3.5vw;
    }
    @include mob{
        font-size: 8.5vw;
    }
    body{
        font-size: 0.7vw;
        position: relative;
        overflow-x: hidden;
        color: #222;
        @include tab{
            font-size: 0.8vw;
        }
        @include mob{
            font-size: 2.1vw;
        }
    }
}
.image{
    @include bgset;
}

.mainWrap{
    margin-top: $h80;
    @include bgset;
    background-image: url('../images/index.img/index_main_img.jpg');
    padding: #{'min(5rem,200px)' 0 'min(4rem,160px)'};
    main{
        @include grid('pc');
        .title{
            position: relative;
            width: calc(100% / 12 * 3);
            margin-left: $h40;
            .image{
                background-image: url('../images/index.img/main_bg.png');
                height: $h200;
            }
            h2{
                position: absolute;
                font-size: #{'min(6em,60px)'};
                line-height: $h80;
                text-align: center;
                font-family: dx;
                top: #{'min(0.375rem,15px)'};
                left: $h20;
                span{
                    opacity: 0;
                }
            }
        }
    }
    @include tab{
        main{
            @include grid('tab');
            .title{
                width: 50%;
                margin-left: 0;
                .image{
                    width: 100%;
                    background-size: contain;
                    height: $h200;
                }
                h2{
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
    @include mob{
        padding: $h40 0 $h80;
        main{
            .title{
                width: 50%;
                margin-left: 0;
                .image{
                    width: 100%;
                    background-size: contain;
                    height: $h90;
                }
                h2{
                    width: 100%;
                    left: 0; top: 0;
                    font-size: $fz24;
                    line-height: $h40;
                }
            }
        }
    }
}

@keyframes ani{
    0%{transform : rotate(1deg);}
    50%{transform : rotate(20deg);}
    100%{transform : rotate(1deg);}
} 

@keyframes mo{
    0%{transform : rotate(0deg);}
    50%{transform : rotate(48deg);}
    100%{transform : rotate(0deg);}
} 

@keyframes mov{
    0%{transform : rotate(280deg);}
    50%{transform : rotate(300deg);}
    100%{transform : rotate(280deg);}
} 

// cnt
.cntWrap{
    margin-top: $h120;
    overflow: hidden;
    @include tab{
        margin-top: $h80;
    }
    &.cntWrap04{
        position: relative;
        z-index: 2;
        @include tab{
            margin-top: 0;
        }
        .Wrapimg{
            @include tab {
                bottom: 0;
                height: #{'min(6rem,240px)'};
            }
            width: 100%;
            position: absolute;
            height: #{'min(8rem,320px)'};
            bottom: $h120;
            @include bgset;
            background-size: contain;
            background-image: url('../images/index.img/cnt04_Bg.png');
        }
        background-color: #dfdfdf;
        @include tab {
            padding-bottom: $h40;
        }
        padding: $h40 0 $h120;
    }
    .content{
        @include grid('pc');
        @include tab {
            @include grid('tab');
        }
        // cnt01
        &.cnt01{
            header{
                border-top: 1px solid #666;
                border-bottom: 1px solid #666;
                position: relative;
                .images{
                    @include tab {
                        opacity: 1;
                    }
                    opacity: 0;
                    transition: opacity 0.5s;
                    .image{
                        background-size: contain;
                        position: absolute;
                        animation-duration: 3s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                        &.i1{
                            animation-name: ani;
                            width: calc(100% / 12 * 2.5);
                            height: $h200;
                            right: $h40; top: $h40;
                            @include tab{
                                height: #{'min(4.5rem,180px)'};
                            }
                            @include mob{
                                height: $h80;
                                top: $h40; right: 0;
                            }
                        }
                        &.i2{
                            animation-name: mo;
                            transform: rotate(18deg);
                            animation-duration: 4s;
                            width: calc(100% / 12 * 2.8);
                            height: #{'min(9rem,360px)'};
                            left: $h40; bottom: $h40;
                            @include mob{
                                top: $h40; left: 0;
                                height: $h90;
                            }
                        }
                        &.i3{
                            @include mob{
                                display: none;
                            }
                            animation-name: mov;
                            animation-duration: 2s;
                            width: calc(100% / 12 * 3);
                            height: #{'min(6.5rem,260px)'};
                            right: 0; bottom: $h20;
                            @include tab{
                                height: #{'min(4.5rem,180px)'};
                            }
                        }
                        @for $i from 1 through 3{
                            &.i#{$i}{
                                background-image: url('../images/index.img/cnt01_0#{$i}.png');
                            }
                        } 
                    }
                }
                .texts{
                    @include mob{
                        padding: $h40 0;
                    }
                    padding: $h200 0 $h80;
                    h2{
                        line-height: $h40;
                        span{
                            color: #293d85;
                        }
                    }
                    h5{
                        &:nth-child(2){
                            font-size: $fz18;
                            line-height: $h20;
                            color: #666;
                            @include mob{
                                font-size: $fz14;
                            }
                        }
                        &:nth-child(3){
                            font-size: $fz24;
                            line-height: $h20;
                            font-weight: 700;
                            margin-top: $h40;
                            @include tab{
                                line-height: $h80;
                            }
                            @include mob{
                                font-size: $fz18;
                                line-height: $h40;
                            }
                        }
                    }
                    p{
                        @include mob{
                            display: none;
                        }
                        font-family: 'GangwonEdu_OTFLightA';
                        font-weight: 700;
                        margin: 0 auto;
                        font-size: $fz18;
                        line-height: $h20;

                        &:nth-child(4){
                            width: calc(100% / 12 * 6);
                            margin-top: $h80;
                            @include tab{display: none;}
                        }
                        &:nth-last-child(1){
                            width: calc(100% / 12 * 4.8);
                            margin-top: $h20;
                        }
                    }
                }
            }
            section{
                article{
                    @include flex;
                    @include tab {
                        margin-top: $h40;
                    }
                    @include mob{
                        margin-top: 0;
                    }
                    margin-top: $h120;
                    &:nth-child(1){
                        .images{
                            position: relative;
                            .image{
                                position: absolute;
                                &.i1{
                                    width: calc(100% / 6 * 2);
                                    height: #{'min(9rem,360px)'};
                                    background-image: url('../images/index.img/cnt01_art01_01.png');
                                    top: #{'min(4rem,160px)'}; left: #{'min(-2.5rem,-100px)'};
                                }
                                &.i2{
                                    width: calc(100% / 6 * 5);
                                    background-size: contain;
                                    height: #{'min(9rem,360px)'};
                                    background-image: url('../images/index.img/cnt01_art01_02.png');
                                    top: $h200; left: 0;
                                    z-index: 1;
                                }
                                &.i3{
                                    background-size: contain;
                                    height: #{'min(6.5rem,260px)'};
                                    width: calc(100% / 6 * 2);
                                    background-image: url('../images/index.img/cnt01_art01_03.png');
                                    top:  #{'min(4rem,160px)'}; right: 30px;
                                }
                            }
                        }
                        .texts{
                            p{
                                @include tab {
                                    margin: 0 auto;
                                    margin-top: $h40;
                                    height: $h80;
                                }
                                @include mob {
                                    display: none;
                                }
                                height: #{'min(4.5rem,180px)'};
                                overflow: hidden;
                            }
                        }
                    }
                    &:nth-child(2){
                        direction: rtl;
                        .images{
                            position: relative;
                            margin-right: -90%;
                            @include tab{
                                margin-right: 0;
                            }
                            .image{
                                position: absolute;
                                &.i1{
                                    width: calc(100% / 6 * 2);
                                    height: $h200;
                                    background-size: contain;
                                    background-image: url('../images/index.img/cnt01_art02_01.png');
                                    left: $h40; bottom: #{'min(4rem,160px)'};
                                }
                                &.i2{
                                    width: 100%;
                                    height: #{'min(9rem,360px)'};
                                    background-image: url('../images/index.img/cnt01_art02_02.png');
                                    bottom: $h40;
                                    z-index: 1;
                                }
                                &.i3{
                                    width: calc(100% / 6 * 2);
                                    height: #{'min(4.5rem,180px)'};
                                    background-size: contain;
                                    background-image: url('../images/index.img/cnt01_art02_03.png');
                                    right: #{'min(-1rem,-40px)'}; bottom: $h80;
                                }
                            }
                        }
                        .texts{
                            direction: ltr;
                            p{
                                @include tab {
                                    margin: 0 auto;
                                    margin-top: $h40;
                                    height: #{'min(1.5rem,60px)'};
                                }
                                @include mob {
                                    display: none;
                                }
                                height: #{'min(4rem,160px)'};
                                overflow: hidden;
                            }
                        }
                    }
                    .images{
                        width: calc(100% / 12 * 6);
                        margin-left: -150%;
                        @include tab{
                            margin-left: 0;
                        }
                        .imgBg{
                            .ovrGrid{
                                height: #{'min(16rem,640px)'};
                                // background-color: #ccc;
                                @include bgset;
                                background-size: contain;
                                &.ovr01{
                                    @include tab {
                                        margin-left: #{'min(calc((100vw - 700px) / -2),calc((100vw - 90vw) / -2))'};
                                    }
                                    margin-left: #{'min(calc((100vw - 1080px) / -2),calc((100vw - 80vw) / -2))'};
                                    background-image: url('../images/index.img/cnt01_artBg01.png');
                                }
                                &.ovr02{
                                    @include tab {}
                                    margin-right: #{'min(calc((100vw - 700px) / -2),calc((100vw - 90vw) / -2))'};
                                    background-image: url('../images/index.img/cnt01_artBg02.png');
                                }
                            }
                        }
                    }
                    .texts{
                        width: calc(100% / 12 * 4);
                        margin-top: $h120;
                        font-family: aripp;
                        text-align: center;
                        h3{
                            @include tab {
                                overflow: inherit;
                                font-size: $fz36;
                            }
                            font-size: #{'min(5em,50px)'};
                            line-height: $h80;
                            height: 0;
                            overflow: hidden;
                            transition: all 0.5s;
                            // border-bottom: 1px solid #666;
                            &::after{
                                content: '';
                                display: block;
                                width: 100%;
                                height: 1px;
                                background-color: #666;
                                margin-top: -5px;

                            }
                        }
                        h5{
                            margin-top: $h80;
                            font-size: $fz24;
                            line-height: $h40;
                            span{
                                color: #293d85;
                            }
                        }
                        p{
                            margin-top: 40px;
                            font-family: 'GangwonEdu_OTFLightA';
                            font-weight: 700;
                            font-size: $fz18;
                            line-height: $h20;
                            overflow: hidden;
                            @include tab{
                                span{
                                    display: none;
                                }
                            }
                        }
                        .btn{
                            width: calc(100% / 4 * 2);
                            margin: 0 auto;
                            margin-top: $h20;
                            cursor: pointer;
                            .image{
                                height: $h80;
                                background-image: url('../images/index.img/btn.png');
                                span{
                                    line-height: $h80;
                                    font-size: $fz24;
                                    text-transform: uppercase;
                                    color: #fff;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
        // cnt02
        &.cnt02{
            border-top: 1px solid #666;
            border-bottom: 1px solid #666;
            padding: $h40 0 $h80;
            header{
                width: calc(100% / 12 * 5);
                margin: 0 auto;
                .image{
                    background-size: contain;
                    background-image: url('../images/index.img/cnt02_hdr.png');
                    height: $h200;
                    padding: #{'min(1.5rem,60px)'} 0 $h40;
                    h2{
                        span{
                            color: #293d85;
                        }
                    }
                }
            }
            section{
                margin-top: $h40;
                article{
                    width: calc(100% / 12 * 10);
                    margin: 0 auto;
                    video{
                        width: 100%;
                    }
                }
            }
        }
        // cnt03
        &.cnt03{
            header{
                h2{
                    text-transform: capitalize;
                    line-height: $h80;
                    span{
                        color: #293d85;
                    }
                }
                p{
                    margin-top: $h20;
                    font-family: 'GangwonEdu_OTFLightA';
                    font-weight: 700;
                    font-size: $fz24;
                    line-height: $h40;
                }
            }
            section{
                @include tab {
                    margin-top: $h40;
                }
                @include flex;
                margin-top: $h80;
                .artImg{
                    @include tab {
                        width: 50%;
                    }
                    width: calc(100% / 12 * 7 - 20px);
                    position: relative;
                    .ovrGrid{
                        @include tab {
                            margin-left: #{'min(calc((100vw - 700px) / -2),calc((100vw - 90vw) / -2))'};
                        }
                        position: relative;
                        margin-left: #{'min(calc((100vw - 1080px) / -2),calc((100vw - 80vw) / -2))'};
                        height: #{'min(13.75rem,550px)'};
                        @include bgset;
                        background-size: contain;
                        background-image: url('../images/index.img/cnt03_imgBg.png');
                    }
                    .images{
                        @include tab {
                            width: 80%;
                        }
                        width: calc(100% / 7 * 5.5);
                        position: absolute;
                        top: $h40;
                        .image{
                            @include tab {
                                height: #{'min(7.5rem,300px)'};
                                margin-top: $h40;
                            }
                            width: 100%;
                            height: #{'min(12rem,480px)'};
                            background-color: #ccc;
                            border-radius: 50%;
                            position: absolute;
                            @for $i from 1 through 5{
                                &.i#{$i}{
                                    background-image: url('../images/index.img/cnt03_img0#{$i}.jpg');
                                }
                            }
                        }
                    }
                }
                .artTxt{
                    @include tab {
                        width: 40%;
                        margin-left: $h40;
                    }
                    width: calc(100% / 12 * 4 - 20px);
                    font-family: 'GangwonEdu_OTFLightA';
                    font-weight: 700;
                    margin-top: $h40;
                    .texts{
                        position: relative;
                        .txt{
                            @include tab {
                                height: $h200;
                                margin-top: $h120;
                            }
                            background-color: #fff;
                            position: absolute;
                            height: #{'min(12.5rem,500px)'};
                            overflow: hidden;
                            h3{
                                @include tab {
                                    font-size: $fz24;
                                }
                                font-size: #{'min(3.4em,34px)'};
                                line-height: $h40;
                                border-left: 1px solid #666;
                                padding-left: $h20;
                            }
                            .txtMid{
                                width: calc(100% / 4 * 3);
                                @include flex;
                                margin-top: 40px;
                                h5{
                                    font-size: $fz18;
                                    line-height: $h20;
                                    border-left: 1px solid #666;
                                    padding: 0 10px;
                                }
                            }
                            .txtBtm{
                                @include tab {
                                    display: none;
                                }
                                margin-top: $h40;
                                p{
                                    border-left: 1px solid #666;
                                    padding-left: $h20;
                                    font-size: $fz18;
                                    line-height: $h20;
                                }
                                .btn{
                                    width: calc(100% / 4 * 1.5);
                                    margin-top: $h20;
                                    margin-left: $h20;
                                    .image{
                                        width: 100%;
                                        height: $h80;
                                        background-image: url('../images/index.img/btn.png');
                                        font-weight: normal;
                                        text-align: center;
                                        span{
                                            font-family: aripp;
                                            font-size: $fz18;
                                            line-height: $h80;
                                            text-transform: uppercase;
                                            color: #fff;
                                            margin-left: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .btn{
                    width: calc(100% / 12);
                    margin: auto 0;
                    margin-left: 10px;
                    .image{
                        cursor: pointer;
                        background-size: contain;
                        background-image: url('../images/index.img/slide_btn.png');
                        height: #{'min(1.5rem,60px)'};
                    }
                }
            }
        }
        // cnt04
        &.cnt04{
            header{
                h2{
                    text-transform: uppercase;
                    line-height: $h80;
                    span{
                        color: #293d85;
                    }
                }
                p{
                    font-family: 'GangwonEdu_OTFLightA';
                    font-size: $fz24;
                    line-height: $h40;
                    font-weight: 700;
                }
            }
            section{
                margin-top: $h40;
                @include flex;
                article{
                    width: 50%;
                    margin: 0px 10px;
                    .image{
                        @include tab {
                            height: #{'min(5rem,200px)'};
                        }
                        height: #{'min(7rem,280px)'};
                        @for $i from 1 through 2{
                            &.i#{$i}{
                                background-image: url('../images/index.img/cnt04_img0#{$i}.jpg');
                            }
                        }
                    }
                }
            }
            .btn{
                width: calc(100% / 12 * 2);
                margin: 0 auto;
                margin-top: #{'min(1.5rem,60px)'};
                position: relative;
                z-index: 4;
                .image{
                    cursor: pointer;
                    width: 100%;
                    height: $h80;
                    background-image: url('../images/index.img/btn.png');
                    text-align: center;
                    span{
                        font-family: aripp;
                        font-size: $fz24;
                        line-height: $h80;
                        text-transform: uppercase;
                        color: #fff;
                        margin-left: 10px;
                    }
                }
            }
        }
        header{
            font-family: aripp;
            text-align: center;
            h2{
                font-size: #{'min(5em,50px)'};
                @include tab{
                    font-size: #{'min(4em,40px)'};
                }
                @include mob{
                    font-size: $fz24;
                }
            }
        }
    }
}