@font-face {
  font-family: 'GangwonEdu_OTFLightA';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ari";
  src: url("./fonts/JSArirang.ttf") format("truetype");
}

@font-face {
  font-family: "aripp";
  src: url("./fonts/JSArirangPPURI.ttf") format("truetype");
}

@font-face {
  font-family: "noto";
  src: url("./fonts/NotoSansKR-Regular.otf") format("truetype");
}

@font-face {
  font-family: "dx";
  src: url("./fonts/DXSeNB-KSCpc-EUC-H.ttf") format("truetype");
}

html {
  font-size: 3vw;
}

html body {
  font-size: 0.7vw;
  color: #222;
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cntWrap {
  margin-top: min(4rem,160px);
}

.cntWrap .content {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}

.cntWrap .content .sns {
  width: calc(100% / 12 * 2.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}

.cntWrap .content .sns .image {
  width: calc(100% / 4 - 10px);
  height: min(1rem,40px);
  background-size: contain;
  cursor: pointer;
}

.cntWrap .content .sns .image.i1 {
  background-image: url("../images/sub02_img/sns01.png");
}

.cntWrap .content .sns .image.i2 {
  background-image: url("../images/sub02_img/sns02.png");
}

.cntWrap .content .sns .image.i3 {
  background-image: url("../images/sub02_img/sns03.png");
}

.cntWrap .content .sns .image.i4 {
  background-image: url("../images/sub02_img/sns04.png");
}

.cntWrap .content header .hdrTop .image {
  height: min(4rem,160px);
  margin: 0 auto;
  background-size: contain;
  background-image: url("../images/sub02_img/hdr_img.jpg");
}

.cntWrap .content header .hdrBtm {
  margin-top: min(1rem,40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cntWrap .content header .hdrBtm .image {
  width: calc(100% / 12 * 3);
  background-size: contain;
}

.cntWrap .content header .hdrBtm .image.i1 {
  height: min(5rem,200px);
  background-image: url("../images/sub02_img/hdr_txt01.png");
}

.cntWrap .content header .hdrBtm .image.i2 {
  height: min(4rem,160px);
  background-image: url("../images/sub02_img/hdr_txt02.png");
}

.cntWrap .content header .hdrBtm .texts {
  width: calc(100% / 12 * 4.5);
  font-family: 'aripp';
  text-align: center;
}

.cntWrap .content header .hdrBtm .texts h5 {
  font-size: min(2.4em,24px);
  line-height: min(1rem,40px);
}

.cntWrap .content header .hdrBtm .texts h5 span {
  color: #284377;
}

.cntWrap .content header .hdrBtm .texts h2 {
  margin-top: min(0.5rem,20px);
  font-size: min(5em,50px);
  line-height: min(1.5rem,60px);
}

.cntWrap .content section article {
  margin-top: min(4rem,160px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.cntWrap .content section article .image {
  width: calc(100% / 12 * 7);
  height: min(10rem,400px);
  border-radius: 60px;
  background-color: #ccc;
}

.cntWrap .content section article .image.i1 {
  background-image: url("../images/sub02_img/art01.jpg");
}

.cntWrap .content section article .image.i2 {
  background-image: url("../images/sub02_img/art02.jpg");
}

.cntWrap .content section article .image.i3 {
  background-image: url("../images/sub02_img/art03.jpg");
}

.cntWrap .content section article .image.i4 {
  background-image: url("../images/sub02_img/art04.jpg");
}

.cntWrap .content section article .image.i5 {
  background-image: url("../images/sub02_img/art05.jpg");
}

.cntWrap .content section article .image.i6 {
  background-image: url("../images/sub02_img/art06.jpg");
}

.cntWrap .content section article .image.i7 {
  background-image: url("../images/sub02_img/art07.jpg");
}

.cntWrap .content section article .image.i8 {
  background-image: url("../images/sub02_img/art08.jpg");
}

.cntWrap .content section article .texts {
  font-weight: 700;
  font-family: 'GangwonEdu_OTFLightA';
  width: calc(100% / 12 * 6);
  height: min(8rem,320px);
  border-radius: 60px;
  -webkit-box-shadow: 2px 3px 6px #000;
          box-shadow: 2px 3px 6px #000;
  background-color: #fff;
  background-image: url("../images/sub02_img/txt_bgimg.png");
  position: absolute;
  padding-top: min(1rem,40px);
}

.cntWrap .content section article .texts .txtTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% / 6 * 4);
  margin: 0 auto;
}

.cntWrap .content section article .texts .txtTop .left {
  width: calc(100% / 4 * 0.5);
}

.cntWrap .content section article .texts .txtTop .left h5 {
  font-family: 'GangwonEdu_OTFLightA';
  font-size: min(2em,20px);
  margin-left: 10px;
  color: #f00;
}

.cntWrap .content section article .texts .txtTop .left h3 {
  font-size: min(5em,50px);
  font-style: italic;
}

.cntWrap .content section article .texts .txtTop h5 {
  font-family: 'aripp';
  width: calc(100% / 4 * 3);
  font-size: min(1.8em,18px);
  margin: auto 0;
}

.cntWrap .content section article .texts .txtTop h5 span {
  color: #284377;
}

.cntWrap .content section article .texts .txtBtm {
  width: calc(100% / 6 * 4);
  margin: 0 auto;
  font-size: min(2em,20px);
}

.cntWrap .content section article .texts .txtBtm p {
  width: calc(100% / 4 * 2.8);
  margin: 0 auto;
  text-align: center;
  line-height: min(1rem,40px);
}

.cntWrap .content section article .texts .txtBtm h5 {
  margin-top: min(0.5rem,20px);
  text-align: right;
  line-height: min(1rem,40px);
}

.cntWrap .content section article .texts .txtBtm h5 span {
  color: #f00;
}

.cntWrap .content section article:nth-child(1) {
  margin-top: min(2rem,80px);
}

.cntWrap .content section article:nth-child(1) .texts {
  position: absolute;
  bottom: min(-1rem,-40px);
  right: 0;
  padding-top: min(0.5rem,20px);
}

.cntWrap .content section article:nth-child(1) .texts .Top {
  font-family: 'GangwonEdu_OTFLightA';
  width: calc(100% / 6 * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: min(1.8em,18px);
  line-height: min(1rem,40px);
  padding-bottom: min(0.5rem,20px);
  position: absolute;
  top: min(-1rem,-40px);
  right: min(2.25rem,90px);
}

.cntWrap .content section article:nth-child(1) .texts .Top h5 {
  padding: 0 min(0.5rem,20px);
  background-color: #ccc;
  border-radius: 60px;
}

.cntWrap .content section article:nth-child(1) .texts .Btm p {
  width: calc(100% / 6 * 4);
  line-height: min(1rem,40px);
  text-align: center;
  margin: 0 auto;
  font-size: min(1.8em,18px);
}

.cntWrap .content section article:nth-child(2) .image {
  margin-left: auto;
}

.cntWrap .content section article:nth-child(2) .texts {
  top: min(-1rem,-40px);
}

.cntWrap .content section article:nth-child(2) .texts .txtTop h5 {
  font-family: 'GangwonEdu_OTFLightA';
  font-size: min(2.4em,24px);
}

.cntWrap .content section article:nth-child(3) {
  margin-top: min(3rem,120px);
}

.cntWrap .content section article:nth-child(3) .texts {
  top: min(1rem,40px);
  right: 0;
}

.cntWrap .content section article:nth-child(4) {
  margin-top: min(3rem,120px);
}

.cntWrap .content section article:nth-child(4) .image {
  width: calc(100% / 12 * 4);
  height: min(6rem,240px);
}

.cntWrap .content section article:nth-child(4) .texts {
  top: min(4rem,160px);
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: min(7rem,280px);
}

.cntWrap .content section article:nth-child(4) .texts .txtBtm p {
  width: 88%;
}

.cntWrap .content section article:nth-child(5) {
  margin-top: min(5rem,200px);
}

.cntWrap .content section article:nth-child(5) .image {
  margin-left: auto;
}

.cntWrap .content section article:nth-child(5) .texts {
  top: min(0.5rem,20px);
}

.cntWrap .content section article:nth-child(5) .texts .txtBtm p {
  width: 80%;
}

.cntWrap .content section article:nth-child(6) {
  margin-top: min(3rem,120px);
}

.cntWrap .content section article:nth-child(6) .texts {
  right: 0;
  bottom: min(-1rem,-40px);
}

.cntWrap .content section article:nth-child(6) .texts .txtBtm p {
  width: 100%;
}

.cntWrap .content section article:nth-child(7) .image {
  margin-left: auto;
}

.cntWrap .content section article:nth-child(7) .texts {
  bottom: min(-2rem,-80px);
}

.cntWrap .content section article:nth-child(7) .texts .txtTop .left {
  width: calc(100% / 4 * 1);
}

.cntWrap .content section article:nth-child(7) .texts .txtTop .left h5 {
  text-align: center;
  margin-left: min(0.5rem,20px);
}

.cntWrap .content section article:nth-child(7) .texts .txtTop h5 {
  width: calc(100% / 4 * 2.6);
}

.cntWrap .content section article:nth-child(7) .texts .txtBtm {
  width: calc(100% / 6 * 5);
}

.cntWrap .content section article:nth-child(7) .texts .txtBtm p {
  width: 90%;
}

.cntWrap .content .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: min(4rem,160px);
  width: calc(100% / 12 * 6);
  margin-left: auto;
  direction: rtl;
}

.cntWrap .content .btns .image {
  width: calc(100% / 6.2 * 2.5);
  height: min(2.25rem,90px);
  background-image: url("../images/sub02_img/eshop_btn.png");
  cursor: pointer;
}

.cntWrap .content .btns .texts {
  width: calc(100% / 6.2 * 3.5);
  font-style: italic;
}

.cntWrap .content .btns .texts h3 {
  font-family: 'GangwonEdu_OTFLightA';
  font-size: min(2em,20px);
  line-height: min(1rem,40px);
  font-weight: 700;
  margin-top: min(1.5rem,60px);
}

.barBgc {
  margin-top: min(1rem,40px);
  height: min(2rem,80px);
  background-color: #626b7e;
}
