$fz14 : #{'min(1.4em,14px)'};
$fz18 : #{'min(1.8em,18px)'};
$fz24 : #{'min(2.4em,24px)'};
$fz36 : #{'min(3.6em,36px)'};
$h20 : #{'min(0.5rem,20px)'};
$h40 : #{'min(1rem,40px)'};
$h80 : #{'min(2rem,80px)'};
$h90 : #{'min(2.25rem,90px)'};
$h120 : #{'min(3rem,120px)'};
$h200 : #{'min(5rem,200px)'};

@font-face{
    font-family: 'GangwonEdu_OTFLightA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SuseongHyejeong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205-2@1.0/SuseongHyejeong.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@mixin font($fontname,$url){
    @font-face {
        font-family: '#{$fontname}';
        src: url('./fonts/#{$url}') format('truetype');
    }
}
@include font(ari,'JSArirang.ttf');
@include font(aripp,'JSArirangPPURI.ttf');
@include font(noto,'NotoSansKR-Regular.otf');
@include font(dx,'DXSeNB-KSCpc-EUC-H.ttf');

@mixin grid($dev){
    @if($dev=='tab'){
        width: 90%;
        max-width: 700px;
    }
    @else{
        width: 80%;
        max-width: 1080px;
    }
    margin: 0 auto;
}
// 반응형 미디어쿼리
@mixin tab {
    @media (max-width: 1024px) and (min-width: 0px){
        @content;
    }
}
@mixin mob {
    @media (max-width: 420px) and (min-width: 0px){
        @content;
    }
}

@mixin flex {
    display: flex;
    justify-content: space-between;
}
@mixin bgset {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html{
    font-size: 3vw;
    @include tab{
        font-size: 3.5vw;
    }
    @include mob{
        font-size: 8.5vw;
    }
    body{
        font-size: 0.7vw;
        color: #222;
        @include tab{
            font-size: 0.8vw;
        }
        @include mob{
            font-size: 2.1vw;
        }
    }
}
.image{
    @include bgset;
}

.mainWrap{
    position: relative;
    .image{
        @include tab{
            height: #{'min(10rem,400px)'};
        }
        @include tab{
            height: #{'min(8rem,320px)'};
        }
        background-image: url('../images/sub03_img/platter-g3df69e34e_1920.jpg');
        filter: brightness(45%);
        height: #{'min(20rem,800px)'};
    }
    main{
        @include tab{
            @include grid('tab');
            margin-top: #{'min(4rem,160px)'};
        }
        color: #fff;
        @include grid('pc');
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0; margin: auto;
        text-align: center;
        margin-top: #{'min(8.75rem,350px)'};
        h2{
            @include tab{
                font-size: $fz36;
                line-height: $h40;
            }
            font-family: 'SuseongHyejeong';
            font-size: #{'min(8em,80px)'};
            line-height: $h80;
        }
        h5{
            @include tab{
                font-size: $fz24;
            }
            @include mob{
                display: none;
            }
            font-family: 'noto';
            margin-top: $h40;
            font-size: #{'min(3em,30px)'};
            line-height: $h40;
        }
    }
}

.cntWrap{
    &:nth-child(3){
        margin-top: $h80;
    }
    .content{
        @include grid('pc');
        @include tab{
            @include grid('tab');
        }
        header{
            position: relative;
            .image{
                @include mob{
                    width: 50%;
                }
                width: calc(100% / 12 * 3.8);
                height: #{'min(4rem,160px)'};
                background-size: contain;
                background-image: url('../images/sub03_img/header_img.png');
                margin: 0 auto;
            }
            h2{
                text-align: center;
                color: #fff;
                text-shadow: 4px 4px 8px #000;
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0; margin: auto;
            }
        }
        section{
            margin-top: $h40;
        }
        &.cnt01{
            padding-bottom: $h40;
            border-bottom: 1px solid #ccc;
            header{
                h2{
                    @include mob{
                        font-size: $fz36;
                    }
                    font-size: #{'min(5em,50px)'};
                    font-family: 'aripp';
                    top: 35%;
                }
            }
            section{
                article{
                    width: calc(100% / 12 * 10);
                    margin: 0 auto;
                    .artTop{
                        video{
                            width: 100%;
                        }
                    }
                    .artBtm{
                        @include flex;
                        @include mob{
                            flex-wrap: wrap
                        }
                        .txtLeft{
                            @include mob{
                                width: 100%;
                                text-align: center;
                                margin: 0 auto;
                            }
                            width: calc(100% / 10 * 6);
                            h3{
                                @include tab{
                                    font-size: $fz24;
                                }
                                @include mob{
                                    margin-left: 0;
                                }
                                font-family: 'aripp';
                                font-size: #{'min(4em,40px)'};
                                margin-left: #{'min(1.75rem,70px)'};
                                margin-top: $h40;
                                span{
                                    color: #284376;
                                }
                            }
                        }
                        .txtRight{
                            @include mob{
                                width: 50%;
                                margin: 0 auto;
                            }
                            width: calc(100% / 10 * 3);
                            .sns{
                                @include tab{
                                    display: none;
                                }
                                width: calc(100% / 3 * 2);
                                @include flex;
                                margin-top: $h20;
                                margin-left: auto;
                                .image{
                                    width: 20%;
                                    background-size: contain;
                                    height: $h40;
                                    cursor: pointer;
                                    @for $i from 1 through 4 {
                                        &.i#{$i}{
                                            background-image: url('../images/sub02_img/sns0#{$i}.png');
                                        }
                                    }
                                }
                            }
                            .text{
                                @include tab{
                                    font-size: $fz14;
                                }
                                @include mob{
                                    width: 100%;
                                    margin-left: 0;
                                    margin-top: $h20;
                                }
                                @include flex;
                                width: calc(100% / 3 * 2);
                                margin-top: $h40;
                                margin-left: auto;
                                font-family: 'aripp';
                                font-size: $fz18;
                                font-weight: 700;
                                line-height: $h40;
                            }
                            .btn{
                                @include tab{
                                    margin-top: $h20;
                                    span{
                                        display: none;
                                    }
                                }
                                @include mob{
                                    margin-left: 0;
                                    width: 60%;
                                    margin: 0 auto;
                                    margin-top: $h20;
                                }
                                width: calc(100% / 3 * 2);
                                margin-top: $h40;
                                margin-left: auto;
                                background-color: #666;
                                line-height: $h40;
                                font-family: 'aripp';
                                font-size: $fz24;
                                text-align: center;
                                color: #fff;
                                cursor: pointer;

                            }
                        }
                    }
                }
            }
        }
        &.cnt02{
            margin-top: $h40;
            position: relative;
            header{
                h2{
                    font-size: #{'min(3em,30px)'};
                    font-family: 'GangwonEdu_OTFLightA';
                    font-weight: 700;
                    top: 50%;
                }
            }
            section{
                width: calc(100% / 12 * 10);
                margin: 0 auto;
                margin-top: $h40;
                overflow: hidden;
                .artGroup{
                    @include tab{
                        width: 600%;
                    }
                    width: 300%;
                    @include flex;
                    article{
                        width: calc(100% / 6 - 20px);
                        margin: 0px 10px;
                        .image{
                            @include tab{
                                height: #{'min(8rem,320px)'};
                            }
                            @include mob{
                                height: $h200;
                            }
                            height: #{'min(6.5rem,260px)'};
                            @for $i from 1 through 6{
                                &.i#{$i}{
                                    background-image: url('../images/sub03_img/cnt02_img0#{$i}.jpg');
                                }
                            }
                        }
                    }
                }
            }
            .btns{
                @include flex;
                width: 100%;
                position: absolute;
                @include tab{
                    bottom: $h120;
                }
                @include mob{
                    bottom: $h80;
                }
                bottom: $h90;
                .image{
                    width: 5%;
                    height: $h40;
                    cursor: pointer;
                    &.i1{
                        background-image: url('../images/sub03_img/arrow.png');
                    }
                    &.i2{
                        transform: rotate(180deg);
                        background-image: url('../images/sub03_img/arrow.png');
                    }
                }
            }
        }
    }
}

.barBgc{
    margin-top: $h80;
    height: $h80;
    background-color: #626b7e;
}