// 반응형 변수
$fz14 : #{'min(1.4em,14px)'};
$fz18 : #{'min(1.8em,18px)'};
$fz24 : #{'min(2.4em,24px)'};
$fz36 : #{'min(3.6em,36px)'};
$fz50 : #{'min(5em,50px)'};
$h20 : #{'min(0.5rem,20px)'};
$h40 : #{'min(1rem,40px)'};
$h80 : #{'min(2rem,80px)'};
$h90 : #{'min(2.25rem,90px)'};
$h120 : #{'min(3rem,120px)'};
$h200 : #{'min(5rem,200px)'};

@font-face{
    font-family: 'GangwonEdu_OTFLightA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin font($fontname,$url){
    @font-face {
        font-family: '#{$fontname}';
        src: url('./fonts/#{$url}') format('truetype');
    }
}
@include font(ari,'JSArirang.ttf');
@include font(aripp,'JSArirangPPURI.ttf');
@include font(noto,'NotoSansKR-Regular.otf');
@include font(dx,'DXSeNB-KSCpc-EUC-H.ttf');

@mixin grid($dev){
    @if($dev=='tab'){
        width: 90%;
        max-width: 700px;
    }
    @else{
        width: 80%;
        max-width: 1080px;
    }
    margin: 0 auto;
}
// 반응형 미디어쿼리
@mixin tab {
    @media (max-width: 1024px) and (min-width: 0px){
        @content;
    }
}
@mixin mob {
    @media (max-width: 420px) and (min-width: 0px){
        @content;
    }
}

@mixin flex {
    display: flex;
    justify-content: space-between;
}
@mixin bgset {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// html,body
html{
    font-size: 3vw;
    @include tab{
        font-size: 3.5vw;
    }
    @include mob{
        font-size: 8.5vw;
    }
    body{
        font-size: 0.7vw;
        color: #222;
        overflow-x: inherit;
        @include tab{
            font-size: 0.8vw;
        }
        @include mob{
            font-size: 2.1vw;
        }
    }
}

// html 공통
.image{
    @include bgset;
}

// main
.mainWrap{
    @include mob{
        padding-top: $h120;
    }
    padding-top: #{'min(4rem,160px)'};
    main{
        @include grid('pc');
        @include flex;
        @include tab{
            @include grid('tab');
        }
        @include mob{
            padding-bottom: $h40;
        }
        justify-content: space-around;
        text-align: center;
        border-bottom: 1px solid #666;
        .image.i1{
            @include tab{
                width: 50%;
            }
            @include mob{
                height: $h200;
            }
            width: calc(100% / 12 * 4.5);
            height: #{'min(8rem,320px)'};
            background-image: url('../images/index.img/cnt01_art02_02.png');
        }
        .texts{
            width: calc(100% / 12 * 5);
            @include tab{
                margin-top: $h40;
            }
            @include mob{
                margin-top: $h80;
            }
            .title{
                position: relative;
                .image.i2{
                    @include mob{
                        height: $h80;
                    }
                    height: $h120;
                    background-size: contain;
                    background-image: url('../images/sub01_img/main_title.png');
                }
                h2{
                    @include mob{
                        font-size: $fz24;
                    }
                    font-family: aripp;
                    font-size: #{'min(4em,40px)'};
                    color: #fff;
                    text-shadow: 2px 2px 8px #000;
                    position: absolute;
                    top: $h20; bottom: 0;right: 0;left: 0;margin: auto;
                }
            }
            p{
                @include tab{
                    span{
                        display: none;
                    }
                    margin-top: 0;
                }
                @include mob{
                    display: none;
                }
                font-family: 'GangwonEdu_OTFLightA';
                font-size: $fz18;
                line-height: $h40;
                margin-top: $h40;
                font-weight: 700;
            }
        }
    }
}

// cnt
.cntWrap{
    @include tab{
        margin-top: $h80;
    }
    margin-top: $h120;
    .content{
        @include grid('pc');
        @include tab {
            @include grid('tab');
        }
        // cnt01
        &.cnt01{
            header{
                margin: 0 auto;
                h2{
                    @include tab{
                        left: 28%;
                    }
                    left: $h40;
                }
            }
            section{
                // article 공통
                article{
                    @include flex;
                    margin-top: $h40;
                    .images{
                        @include tab{
                            width: 50%;
                        }
                        @include flex;
                        position: relative;
                        .image{
                            &.i1{
                                @include tab{
                                    height: #{'min(6rem,240px)'};
                                }
                                box-shadow: 2px 2px 6px #000;
                                position: relative;
                                height: #{'min(8rem,320px)'};
                                border-radius: 40px;
                                z-index: 4;
                            }
                            &.i2{
                                height: #{'min(6rem,240px)'};
                                position: absolute;
                            }
                        }
                    }
                    .texts{
                        @include tab{
                            width: 50%;
                        }
                        font-family: 'GangwonEdu_OTFLightA';
                        font-weight: 700;
                        line-height: $h40;
                        h3{
                            @include tab{
                                font-size: $fz18;
                            }
                            color: red;
                            font-size: #{'min(3.4em,34px)'};
                        }
                        h5{
                            @include tab{
                                font-size: $fz18;
                            }
                            font-size: $fz24;
                        }
                        p{
                            @include tab{
                                line-height: $h20;
                            }
                            margin-top: $h40;
                        }
                    }
                    // article 01
                    &:nth-child(1){
                        direction: rtl;
                        .images{
                            width: calc(100% / 12 * 7);
                            .image{
                                &.i1{
                                    width: calc(100% / 7 * 5);
                                    background-image: url('../images/sub01_img/cnt01_01.jpg');
                                }
                                &.i2{
                                    @include tab{
                                        top: $h120;
                                    }
                                    width: calc(100% / 7 * 3);
                                    background-image: url('../images/sub01_img/cnt01_imgBg02.png');
                                    left: $h80; top: #{'min(4rem,160px)'};
                                }
                            }
                        }
                        .texts{
                            width: calc(100% / 12 * 5);
                            margin-top: $h40;
                            direction: ltr;
                            p{
                                width: calc(100% / 5 * 3.8);
                            }
                        }
                    }
                    // article 02
                    &:nth-child(2){
                        @include tab{
                            margin-top: $h120;
                        }
                        margin-top: $h80;
                        .images{
                            width: 50%;
                            .image{
                                &.i1{
                                    width: calc(100% / 6 * 5);
                                    background-image: url('../images/sub01_img/cnt01_02.jpg');
                                }
                                &.i2{
                                    background-size: contain;
                                    width: calc(100% / 6 * 3);
                                    background-image: url('../images/sub01_img/cnt01_imgBg01.png');
                                    right: 0; bottom: $h120;
                                }
                            }
                        }
                        .texts{
                            width: 50%;
                            text-align: center;
                            p{
                                width: 70%;
                                margin: 0 auto;
                                margin-top: $h40;
                            }
                        }
                    }
                }
            }
        }
        &.cnt02{
            overflow: hidden;
            padding-bottom: $h20;
            position: relative;
            header{
                width: calc(100% / 12 * 5);
                margin-left: auto;
                text-align: center;
                .image{
                    width: calc(100% / 5 * 4);
                    height: #{'min(7rem,280px)'};
                }
                h2{
                    @include tab{
                        top: #{'min(2.5rem,100px)'};
                    }
                    top: #{'min(1.5rem,60px)'}; left: 0; right: 0; bottom: 0; margin: auto;
                }
            }
            section{
                @include tab{
                    height: #{'min(12rem,480px)'};
                }
                width: 100%;
                position: relative;
                height: #{'min(15rem,600px)'};
                // @include flex;
                article{
                    width: 99%;
                    height: 100%;
                    overflow: hidden;
                    background-color: #fff;
                    @include flex;
                    position: absolute;
                    top: 0; left: 0;
                    .image{
                        @include tab{
                            width: calc(100% / 8 * 5);
                            height: #{'min(10rem,400px)'};
                        }
                        height: #{'min(12rem,480px)'};
                        width: calc(100% / 12 * 7);
                        border-radius: 60px;
                        @for $i from 1 through 7{
                            &.i#{$i}{
                                background-image: url('../images/sub01_img/slide0#{$i}.jpg');
                            }
                        }
                    }
                    .texts{
                        @include tab{
                            width: calc(100% / 8 * 4);
                            padding: 0 $h20;
                        }
                        width: calc(100% / 12 * 6);
                        border: 2px solid rgb(173, 173, 173);
                        background-color: #fff;
                        font-family: 'GangwonEdu_OTFLightA';
                        font-weight: 700;
                        padding: $h40 $h20 $h20 #{'min(0.75rem,30px)'};
                        border-radius: 60px;
                        margin-left: #{'min(-2.75rem,-110px)'};
                        margin-top: $h120;
                        @include flex;
                        .txtLeft{
                            @include tab{
                                width: 70%;
                            }
                            width: calc(100% / 6 * 4);
                            .brandLogo{
                                @include tab{
                                    background-size: contain;
                                }
                                width: calc(100% / 6 * 3);
                                height: $h80;
                                @include bgset;
                                @for $i from 1 through 7{
                                    &.i#{$i}{
                                        background-image: url('../images/sub01_img/logo_brand#{$i}.png');
                                    }
                                }
                            }
                            h3{
                                @include tab{
                                    font-size: $fz18;
                                    line-height: $h20;
                                }
                                font-size: $fz24;
                                line-height: $h40;
                                margin-top: $h20;
                                border-left: 2px solid red;
                                padding-left: 10px;
                            }
                            .txtMid{
                                @include flex;
                                margin-top: $h20;
                                h5{
                                    @include tab{
                                        font-size: $fz14;
                                    }
                                    font-size: $fz18;
                                    line-height: $h20;
                                    border-left: 2px solid red;
                                    padding: 0px 5px;
                                }
                            }
                            p{
                                @include tab{
                                    height: #{'min(2.5rem,100px)'};
                                    overflow: hidden;
                                }
                                font-size: $fz14;
                                line-height: $h20;
                                margin-top: $h40;
                            }
                        }
                        .txtRight{
                            @include tab{
                                display: none;
                            }
                            width: calc(100% / 6 * 2);
                            margin-top: auto;
                            .image{
                                width: 100%;
                                height: #{'min(4rem,160px)'};
                                border-radius: 0;
                                background-size: contain;
                                @for $im from 1 through 7{
                                    &.i#{$im}{
                                        background-image: url('../images/sub01_img/slide_txt0#{$im}.jpg');
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .btns{
                width: 100%;
                position: absolute;
                top: #{'min(7rem,280px)'}; left: 0;
                div{
                    width: calc(100% / 12 * 1);
                    height: $h40;
                    @include bgset;
                    background-size: contain;
                    position: absolute;
                    cursor: pointer;
                }
                .leftBtn{
                    @include tab{
                       top: #{'min(7rem,280px)'}; right: 1%;
                    }
                    background-image: url('../images/index.img/slide_btn.png');
                    top: #{'min(9rem,360px)'}; right: 0;
                }
                .rightBtn{
                    background-image: url('../images/index.img/slide_btn.png');
                    transform: rotate(180deg);
                    top: $h200;
                }
            }
        }
        &.cnt03{
            overflow: hidden;
            padding-bottom: $h20;
            header{
                margin: 0 auto;
                h2{
                    @include tab{
                        left: 32%;
                    }
                    left: #{'min(1.5rem,60px)'};
                }
                h5{
                    font-family: aripp;
                    text-align: center;
                    margin-top: $h20;
                    font-size: $fz24;
                }
            }
            section{
                .tab{
                    @include flex;
                    margin-top: $h40;
                    @include tab{
                        width: 90%;
                        margin: 0 auto;
                        flex-wrap: wrap;
                    }
                    .image{
                        @include tab{
                            width: calc(100% / 3 - 20px);
                            margin-top: $h40;
                        }
                        width: calc(100% / 7 - 20px);
                        margin: 0px 10px;
                        height: $h80;
                        background-size: contain;
                        transition: all 0.1s;
                        @for $i from 1 through 7{
                            &.i#{$i}{
                                background-image: url('../images/sub01_img/logo_brand#{$i}.png');
                            }   
                    }
                   }
                }
                .bars{
                    @include tab{
                        display: none;
                    }
                    width: 100%;
                    background-color: #ccc;
                    height: $h20;
                    border-radius: 20px;
                    position: relative;
                    margin-top: $h20;
                    .bar{
                        @include bgset;
                        background-size: contain;
                        background-image: url('../images/sub01_img/pro_bar.png');
                        height: $h40;
                        width: calc(100% / 12 * 0.8);
                        cursor: pointer;
                        transition: all 0.3s;
                        position: absolute;
                        left: 0; top: -10px;
                        &:hover{
                            background-image: url('../images/sub01_img/pro_hover.png');
                        }
                    }
                }
                .artGroup{
                    @include tab{
                        display: none
                    }
                    @include flex;
                    width: 700%;
                    margin: 0 auto;
                    margin-top: $h80;
                    article{
                        width: 70%;
                        margin: 0px 10px;
                        @include flex;
                        flex-wrap: wrap;
                        &.a1{
                            .image{
                                @for $i from 1 through 8{
                                    &.i#{$i}{
                                        background-image: url('../images/sub01_img/homeings_0#{$i}.jpg');
                                    }
                                }
                            }
                        }
                        &.a2{
                            .image{
                                @for $i from 1 through 8{
                                    &.i#{$i}{
                                        background-image: url('../images/sub01_img/anjuya_0#{$i}.jpg');
                                    }
                                }
                            }
                        }
                        &.a3{
                            .image{
                                @for $i from 1 through 8{
                                    &.i#{$i}{
                                        background-image: url('../images/sub01_img/sunchang_0#{$i}.jpg');
                                    }
                                }
                            }
                        }
                        &.a4{
                            .image{
                                @for $i from 1 through 8{
                                    &.i#{$i}{
                                        background-image: url('../images/sub01_img/haetsal_0#{$i}.jpg');
                                    }
                                }
                            }
                        }
                        &.a5{
                            .image{
                                @for $i from 1 through 8{
                                    &.i#{$i}{
                                        background-image: url('../images/sub01_img/matsun_0#{$i}.jpg');
                                    }
                                }
                            }
                        }
                        &.a6{
                            .image{
                                @for $i from 1 through 8{
                                    &.i#{$i}{
                                        background-image: url('../images/sub01_img/hongcho_0#{$i}.jpg');
                                    }
                                }
                            }
                        }
                        &.a7{
                            .image{
                                @for $i from 1 through 8{
                                    &.i#{$i}{
                                        background-image: url('../images/sub01_img/curry_0#{$i}.jpg');
                                    }
                                }
                            }
                        }
                        .image{
                            box-shadow: 2px 2px 4px #000;
                            border-radius: 10px;
                            width: calc(100% / 4 - 20px);
                            margin: 0px 10px;
                            height: #{'min(7rem,280px)'};
                            &:nth-child(odd){
                                margin-top: $h40;
                            }
                        }
                    }
                }
            }
        }
        // 공통
        header{
            @include tab{
                width: 80%;
            }
            width: calc(100% / 12 * 4);
            position: relative;
            .image{
                width: calc(100% / 4 * 2.3);
                height: #{'min(4rem,160px)'};
                background-size: contain;
                background-image: url('../images/sub01_img/cnt_hdr_title.png');
                margin: 0 auto;
            }
            h2{
                @include tab{
                    line-height: $h40;
                    top: #{'min(1.5rem,60px)'};
                }
                top: $h40;
                position: absolute;
                font-size: $fz50;
                font-family: aripp;
                line-height: $h80;
                color: #fff;
                text-shadow: 1px 1px 5px #000;
            }
        }
        section{
            article{
                .images{
                    .image{}
                }
            }
        }
    }
}
.ftrWrap{
    @include tab{
        margin-top: $h80;
    }
    margin-top: $h120;
}